name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.7.2

      - name: Run tests with coverage
        run: go test -coverprofile=coverage.out ./...

      - name: Coverage summary
        run: go tool cover -func coverage.out

      - name: Run vet
        run: go vet ./...

      - name: Build binary
        run: make build
